---
---

@import "{{ site.theme }}";

#main-content h1, #main-content h2, #main-content h3, #main-content h4, #main-content h5, #main-content h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

p {
    margin-bottom: 12px;
}

pre, code {
	background-color: #f8f8f8;
}

pre code {
	background-color: #f8f8f8;
}